@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .move-in-from-right {
      animation-name: move-in-from-right;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
   }

   .exit-to-left {
      animation-name: exit-to-left;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
   }

   @keyframes move-in-from-right {
      0% {
         opacity: 0;
         transform: translateX(2000px);
      }
      60% {
         opacity: 1;
         transform: translateX(-50px);
      }
      80% {
         transform: translateX(10px);
      }
      100% {
         transform: translateX(0);
      }
   }

   @keyframes exit-to-left {
      0% {
         opacity: 1;
         transform: translateX(0);
      }
      50% {
         transform: translateX(50px);
      }
      100% {
         transform: translateX(-2000px);
      }
   }
}